# Common directories where we don't care about linting
webpack.config.js

# Dependency (external) code
**/node_modules/*

# Build directories & output code
umd
cjs
es
index.es.js
index.js
examples/public/**
